{{define "createaccountformHTMLloginpage"}}
<div class="flex flex-col items-center justify-center">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Create an account
            </h1>
            <form class="space-y-4 md:space-y-6" hx-post="/registration">
                <div>
                    <label for="email" class="block mb-2 text-gray-900">Your email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                        placeholder="name@company.com"
                        required=""
                    >
                </div>
                <div>
                    <label for="password" class="block mb-2 text-gray-900">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                        required=""
                    >
                </div>
                <div>
                    <label for="confirm-password" class="block mb-2 text-gray-900">Confirm password</label>
                    <input
                        type="password"
                        name="confirm-password"
                        id="confirm-password"
                        placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                        required=""
                    >
                </div>
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input
                            id="terms"
                            aria-describedby="terms"
                            type="checkbox"
                            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                            required=""
                        >
                    </div>
                    <div class="ml-3 text-sm">
                        <label for="terms" class="font-light text-gray-500">
                            I accept the
                            <a class="font-medium text-primary-600 hover:underline" href="/terms-and-conditions">Terms and Conditions</a>
                        </label>
                    </div>
                </div>
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Create</button>
                <p class="mt-4">
                    Already have an account?
                    <a
                        hx-get="login"
                        hx-trigger="click"
                        hx-target="#login"
                        hx-push-url="true"
                        hx-swap="innerHTML"
                        class="text-blue-500 hover:underline"
                    >
                        Login here
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>
{{end}}
