{{define "cartHTMLcartpage"}}
<h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
<div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
    <div class="rounded-lg md:w-2/3">
        {{range .Cart.Products}}
        <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
            <img src="../../static/images/{{.ImageName}}" alt="" class="w-full rounded-lg sm:w-40">
            <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                <div class="mt-5 sm:mt-0">
                    <h2 class="text-lg font-bold text-gray-900">{{.Name}}</h2>
                </div>
                <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                    <div class="flex items-center border-gray-100">
                        <span
                            hx-put="/cart/decrease-product-amount/{{.Id}}"
                            hx-trigger="click"
                            hx-target="#mainpagebody"
                            class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50"
                        >-</span>
                        <div class="h-8 w-8 border bg-white flex items-center justify-center">
                            <p id="product-amount-{{.Id}}" class="text-xs outline-none">
                                {{.Amount}}
                            </p>
                        </div>
                        <span
                            hx-put="/cart/increase-product-amount/{{.Id}}"
                            hx-trigger="click"
                            hx-target="#mainpagebody"
                            class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50"
                        >+</span>
                    </div>
                    <div class="flex items-center space-x-4">
                        <p class="text-sm">${{.Price}}</p>
                        <button
                            hx-delete="/cart/remove/{{.Id}}"
                            hx-trigger="click"
                            hx-target="#mainpagebody"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                        >
                            X
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
        <div class="mb-2 flex justify-between">
            <p class="text-gray-700">Subtotal</p>
            <p class="text-gray-700">${{.Subtotal}}</p>
        </div>
        <div class="flex justify-between">
            <p class="text-gray-700">Shipping</p>
            <p class="text-gray-700">${{.Shipping}}</p>
        </div>
        <hr class="my-4">
        <div class="flex justify-between">
            <p class="text-lg font-bold">Total</p>
            <div class="">
                <p class="mb-1 text-lg font-bold">${{.Total}}</p>
                <p class="text-sm text-gray-700">including VAT</p>
            </div>
        </div>
        <button
            id="checkkout-button"
            hx-get="/checkout"
            hx-trigger="click"
            hx-target="#whole-page-content"
            hx-push-url="true"
            hx-indicator=".htmx-indicator"
            class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600"
        >Check out</button>
    </div>
</div>
{{end}}
