{{define "bodyHTML"}}
<body>
    <h2 class="text-2xl font-semibold text-center mb-4">Webshop Items</h2>
    {{template "mainmenuHTML" .}}
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item1.jpg" alt="Item 1">
            <div class="font-semibold mb-1">Product 1</div>
            <div class="text-red-600">$19.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="item2.jpg" alt="Item 2">
            <div class="font-semibold mb-1">Product 2</div>
            <div class="text-red-600">$24.99</div>
        </div>
    </div>
</body>
{{end}}
