{{define "headerHTMLgeneral"}}
<header class="h-auto sm:h-36 text-xs font-mono px-4 sm:px-8 md:px-16 lg:px-32">
    <div class="flex flex-col sm:flex-row items-center mb-4">
        <nav class="mb-4 sm:mb-0">
            <img
                hx-get="/"
                hx-trigger="click"
                hx-target="#mainpage"
                hx-push-url="true"
                class="cursor-pointer hover:opacity-75 w-20 h-20 mt-4"
                src="../../static/logo.png"
                alt=""
            >
        </nav>
        <div class="flex justify-center sm:justify-start ml-0 sm:ml-12">
            <div class="space-y-2">
                <a
                    hx-get="/"
                    hx-trigger="click"
                    hx-target="#mainpage"
                    hx-push-url="true"
                    class="cursor-pointer hover:underline block"
                >
                    Shop All
                </a>
                <a href="#" class="cursor-pointer hover:underline block">New</a>
                <a href="#" class="cursor-pointer hover:underline block">Back in stock</a>
            </div>
        </div>
        {{if .IsMainPage}}
        <hr class="border-gray-300 w-full mt-4 mb-4 sm:hidden">
        <div class="flex justify-center sm:justify-start ml-0 sm:ml-7 sm:mt-0">
            <div class="grid grid-cols-3 gap-2">
                {{range .Categories}}
                <a
                    hx-get="/product-categories/{{.Name}}"
                    hx-trigger="click"
                    hx-target="#mainpagebody"
                    hx-push-url="true"
                    class="cursor-pointer hover:underline block"
                >
                    {{.Name}}
                </a>
                {{end}}
            </div>
        </div>
        <hr class="border-gray-300 w-full mt-4 mb-4 sm:hidden">
        <div class="flex justify-center sm:justify-start ml-0 sm:ml-7">
            <div class="space-y-2">
                <a href="#" class="cursor-pointer hover:underline block">Gifting</a>
                <a href="#" class="cursor-pointer hover:underline block">Sale</a>
                <form action="/search">
                    <div class="w-full group">
                        <input
                            name="query"
                            id="query"
                            class="block px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder="🔍️"
                            required
                        >
                    </div>
                </form>
            </div>
        </div>
        {{end}}
        <hr class="border-gray-300 w-full mt-4 mb-4 sm:hidden">
        <div class="flex justify-center sm:justify-end relative sm:mt-0 ml-0 sm:ml-auto">
            <div class="space-y-2">
                <a
                    id="cart-link"
                    hx-get="/cart"
                    hx-trigger="click"
                    hx-target="#mainpagebody"
                    hx-push-url="true"
                    class="cursor-pointer hover:underline block"
                >Cart {{.NumberOfCartItems}}</a>
                <div>
                    {{if .LoggedIn}}
                    <a hx-post="/api/auth/logout" hx-trigger="click" class="cursor-pointer hover:underline block">Logout</a>
                    {{else}}
                    <a
                        id="login-button"
                        hx-get="/login"
                        hx-trigger="click"
                        hx-target="#login"
                        hx-push-url="true"
                        class="cursor-pointer hover:underline block"
                    >
                        Login
                    </a>
                    {{end}}
                </div>
                {{if .LoggedIn}}
                <a
                    id="account-button"
                    hx-get="/protected/account"
                    hx-trigger="click"
                    hx-target="#account"
                    hx-push-url="true"
                    class="cursor-pointer hover:underline block"
                >Account</a>
                {{end}}
            </div>
        </div>
        <hr class="border-gray-300 w-full mt-4 mb-4 sm:hidden">
    </div>
</header>
{{end}}
