{{define "headHTMLgeneral"}}
<head>
    <link href="../../static/dependency/tailwindcss/tailwind.2.2.19.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/favicon.ico">
    <title>Webshopx</title>
</head>
<!-- dependencies -->
<script src="../../static/dependency/htmx/htmx.1.9.5.min.js"></script>
<!-- common components used multiple page -->
{{template "csrfHTMLgeneral" .}}
<!-- end -->
<!-- common styles used multiple page and can not be done via tailwind -->
<style>
    .half-height {
        height: 40vh;
    }
</style>
<!-- end -->
<!-- common ids used multiple page -->
<div id="login"/>
<div id="account"/>
<div id="mainpage"/>
<!-- end -->
{{end}}
