{{define "bodyHTML"}}
<body class="bg-gray-50 text-gray-600">
    {{template "mainmenuHTML" .}}
    <div id="products" class="grid grid-cols-4 gap-4 ml-72 mr-72">
        {{range .Products}}
        <div class="bg-white border p-4 text-center">
            <img class="mx-auto mb-2 max-w-full h-auto" src="../../static/images/{{.ImageName}}">
            <div class="font-semibold mb-1">{{.Name}}</div>
            <div class="text-blue-300">${{.Price}}</div>
        </div>
        {{end}}
    </div>
</body>
{{end}}
